.container
  .row.justify-content-center.align-items-center{ style: 'min-height: 100vh;' }
    .col-6
      %h1.text-center.mb-5 Générateur de fiche horraire

      #formContainer
        = render 'time_sheets/form', time_sheet: @time_sheet